:root {
  --clr-primary-800: rgba(76, 0, 19, 1);
  --clr-primary-600: rgb(89, 0, 22);
  --clr-primary-400: rgb(128, 0, 32);
  --clr-secondary-200: rgb(255, 221, 192);
  --clr-neutral-000: rgb(255, 255, 255);

  --ff-primary: "Monaco", monospace;
  --ff-accent: "Andale Mono", monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym49.cur), auto !important;
}


body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  line-height: 1.5;
  border-left: 15px;
  border-right: 15px;
  border-style: solid;
  border-color: var(--clr-neutral-000);
}

body,
h1,
h2,
h3,
span {
  margin: 0;
}

h1,
h2 {
  font-family: var(--ff-accent);
  line-height: 1;
  text-align: center;
}

h1{
  font-size: 3.5rem;
}

.text-center {
  text-align: center;
  padding: 3rem;
}

span{
  width: 50%;
}


section{
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input{
  margin-right: 10px;
}

.totalTimeC{
  text-align: center;
}

.input-date{
  text-align: center;
}

.time-holder,
.title-holder{
  width: 40%;
  font-size: 1.1rem;
}

.time-unit{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2;
  padding-bottom: 1px;
  height: 10vh;
}

button {
  height: 2rem;
  width: 6rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-000);
  border: none;
  animation: moveInBottom 1s ease-out;
}

button:hover {
  box-shadow: 0px 0px 1px var(--clr-secondary-200);
  font-weight: 900;
}

button:active {
  background-color: var(--clr-primary-600);
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
}

#heart-container {
  padding: 1rem;
  max-width: 95vw;
  display: flex;
  justify-content: space-between;
}

.heart {
  z-index: 999;
  animation: heartfade 6s linear;
  position: relative;
}
.heart:before,
.heart:after {
  content: "";
  background-color: var(--clr-primary-400);
  position: absolute;
  height: 30px;
  width: 45px;
  border-radius: 15px 0px 0px 15px;
}
.heart:before {
  transform: rotate(45deg);
}
.heart:after {
  left: 10.5px;
  transform: rotate(135deg);
}

@keyframes heartfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.container-1 {
  background-color: var(--clr-primary-800);
  color: var(--clr-neutral-000);
}

.container-2 {
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-000);
}

.container-3 {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-000);
}

.container-4 {
  background-color: var(--clr-secondary-200);
  color: var(--clr-primary-800);
}

.container-5 {
  background-color: var(--clr-neutral-000);
  color: var(--clr-primary-800);
}
