* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym49.cur), auto !important;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 50px;
  text-shadow: 4px 5px 0px rgba(255, 255, 255, 0.2);
  color: white;
}

.text,
.time-together,
.time-till-meeting,
.boys-age {
  color: white;
  font-size: 50px;
  padding: 15px;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.2);
}

.love-text {
  color: rgba(76, 0, 19, 1);
  font-size: 50px;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  background-color: rgba(76, 0, 19, 1);
}

.second-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  background-color: rgb(89, 0, 22);
}

.third-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  background-color: rgb(128, 0, 32);
}

.fourth-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  background-color: rgb(255, 221, 192);
  font-size: 50px;
}

.fifth-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  background-color: rgb(255, 255, 255);
  font-size: 50px;
}
button {
  height: 5vh;
  width: 5vw;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  background: transparent;
  border: none;
  color: white;
  position: fixed;
  cursor: url(https://ani.cursors-4u.net/symbols/sym-8/sym761.ani),
    url(https://ani.cursors-4u.net/symbols/sym-8/sym761.png), auto !important;
}
